[submodule "zsh/plugins/caniuse"]
	path = zsh/plugins/caniuse
	url = https://github.com/walesmd/caniuse.plugin.zsh.git
[submodule "zsh/plugins/k"]
	path = zsh/plugins/k
	url = https://github.com/supercrabtree/k.git
[submodule "zsh/plugins/z/z"]
	path = zsh/plugins/z/z
	url = https://github.com/rupa/z.git
