[submodule "zsh/plugins/k"]
	path = zsh/plugins/k
	url = https://github.com/supercrabtree/k.git
[submodule "zsh/plugins/z/z"]
	path = zsh/plugins/z/z
	url = https://github.com/rupa/z.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/plugins/bd"]
	path = zsh/plugins/bd
	url = https://github.com/Tarrasch/zsh-bd
[submodule "zsh/completions/zsh"]
	path = zsh/completions/zsh
	url = https://github.com/zsh-users/zsh-completions.git
